<?xml version="1.0" encoding="UTF-8"?>



<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 
 
 
 <bean class="in.sp.beans.Address" id="address" >
 <property name="houseno" value="4"></property>
  <property name="city" value="bangalore"></property>
   <property name="pincode" value="244562"></property>
 
 </bean>
 
 
  
 <bean class="in.sp.beans.Student" id="stdId" autowire="byName">
 <property name="name" value="Shreya"></property>
  <property name="rollno" value="2"></property>
   <property name="address" ref="addrId"></property>
 
 </bean>
 
 
</beans>