<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">



<!-- for address class -->

<bean class="in.sp.beans.Address" id="addrId">
<property name="houseno" value="101"></property>
<property name="city" value="Varanasi"></property>
<property name="pincode" value="221307"></property>

</bean>




<!-- for student class -->

<bean class="in.sp.beans.Student" id="stdId">
<property name="rollno" value="10"></property>
<property name="name" value="Pooja"></property>
<property name="address" ref="addrId"></property> <!--  for  inject object in place of value attribute we can use ref -->


</bean>




</beans>