<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
    <!-- bean definitions here -->
    
    <bean class="in.sp.beans.StudentC" id="patna1">
    <property name = "name" value ="nashit"></property>
     <property name = "mail" value ="s_nashit@hotmail.com"></property>
       <property name = "age" value ="30"></property>
    
    
    
    </bean>
    
      <bean class="in.sp.beans.StudentC" id="ddn">
    <property name = "name" value ="Pooja"></property>
     <property name = "mail" value ="pooja@gmailmail.com"></property>
       <property name = "age" value ="24"></property>
    
    
    
    </bean>
     
    </bean>
    
      <bean class="in.sp.beans.StudentC" id="BLR>
    <property name = "name" value ="Anshi"></property>
     <property name = "mail" value ="anshi@gmailmail.com"></property>
       <property name = "age" value ="20></property>
    
    
    
    </bean>
 
 
</beans>
